body {
    font-family: Arial, sans-serif;
    background: #f0f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 55px;
    width: 360px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

.avatar-container {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #162936;
}

label {
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    border: 1px solid #999;
    border-radius: 5px;
}

.btn {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #162936;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.back-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #999;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.back-btn:hover {
    opacity: 0.8;
}
